.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.lock
.cache/
.DS_Store
.env
.env.*
.idea/
.vscode/
*.egg-info/
node_modules/
*.swp
*.bak
*.tmp
*.old
*.orig
*.zip
*.tar.gz
*.tar
*.tgz
*.gz
*.rar
*.7z
*.out
*.so
*.dll
*.exe
*.bin
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.svg
.git/
xrpl_lottery_backend/
xrplottorysystem/

