.bash*
.profile
.zshrc
.config/
.ipython/
.npm/
.pki/
*.csv
*.json
*.sqlite3
*.db
*.log
*.lock
.cache/
.DS_Store
.env
.env.*
.idea/
.vscode/
*.egg-info/
node_modules/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.old
*.orig
*.zip
*.tar.gz
*.tar
*.tgz
*.gz
*.rar
*.7z
*.out
*.so
*.dll
*.exe
*.bin
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.svg
.git/
ripple-lottery-draw/
frontend/
client/
xrpl_lottery_backend/
xrplottorysystem/

